# Compiled Object filescmake_minimum_required(VERSION 3.25)
project(untitled4)

set(CMAKE_CXX_STANDARD 20)

add_executable(untitled4 main.cpp Figures/FigureSystem.cpp Figures/FigureSystem.h Figures/IPhysObject.h Figures/Figure.h Figures/CVector2D.h Figures/IPrintable.h Figures/Trapezium.cpp Figures/Trapezium.h Figures/LineSegment.cpp Figures/LineSegment.h)

